<div class="container page-town">
  <button type="button" class="make-my-town btn"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Make this My Town</button>


<section class="top has-image">
  <div class="picture-frame">

    <!-- TEMP FOR LAYOUT ONLY -->
  <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/c/cc/Broad_Street_Aqueduct_in_Rochester%2C_NY_3.JPG" alt="Broad Street Aqueduct in Rochester, NY 3.JPG" height="420" width="640">
  </div>
  <div class="intro">
    <h1>Anytown, AA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section class="news">
  <h2>News</h2>
  <ul>
    <li>
      <h4>Questions Raised Over NY Ebola Quarantine</h4>
      <h5>Learn &amp; vote: <a href="/issue/ebola" class="issue-link">NY Mandatory Ebola Quarantine</a></h5>
    </li>
    <li>
      <h4>Day After Gubernatorial Debate, Astorino Calls For One-on-One With Cuomo</h4>
      <h5>Learn &amp; vote: <a href="/issue/nygov" class="issue-link">New York Gubinatorial Election 2014</a></h5>
    </li>
    <li>
      <h4>Title</h4>
      <h5><a href="">Issue link</a></h5>
    </li>
    <li>
      <h4>Title</h4>
      <h5><a href="">Issue link</a></h5>
    </li>
  </ul>
</section>


<section class="issues">
  <h2>Issues</h2>
  <ul>
   <li>
     <h4><a href="">Henrietta Housing Code</a></h4>
     <h5>People don&rsquo;t like it</h5>
   </li>
   <li>
     <h4><a href="">NY Carbon Cap Bill</a></h4>
      <h5>Yep, Made This One Up</h5>
   </li>
   <li>
     <h4><a href="">We Need Mini-Stats</a></h4>
     <h5>I Need to Prototype That Mini-Stats View From The Design Doc</h5>
   </li>
  </ul>
</section>

</div>