<div class="container page-loggedouthome">
  <div class="jumbotron">
    <h1>Vocal Local</h1>
    <p class="lead">A place to stay on top of your local laws and happenings. Begin by registering or searching for your town or issues.</p>

    <form class="" role="search" action="/towns/search" method="GET">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input name="query" type="text" class="form-control" placeholder="Search Issues &amp; Localities">
    </div>
    </form>
  </div>

  <section class="global-hot">
    <h2>What&rsquo;s <em>Loco in the Local</em></h2>
    <% @featured_issues.each do |issue| %>
    <ul class="loco-list">
      <li>
        <h4><%= link_to issue.title, [issue.town, issue] %></h4>
        <h5><%= issue.subhead %></h5>
      </li>
      <% end %>
    </ul>
  </section>
</div>