       
        <div class="progress">
          <% def percent(num, denum)
              return 0 if denum == 0
              return (num.fdiv(denum))*100
            end
          %>
          <% statistics(votes).each do |party, count| %>
          <div title="<%= party ? party.name : 'None' %>" class="progress-bar progress-bar-success" 
          style="width: <%= percent(count,votes.count)%>%; background-color: <%=party ? party.color : '#444' %>">
            <span class="sr-only"><%= party ? party.name : 'None' %></span>
          </div>
          <% end %>
          
        </div>

